<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<a class="zoom" href="{{ url_for('home') }}"><img class="logoSize" src="static/brushup_new_logo-removebg-preview.png"></a>
				<h1> </h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>