<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> View All Invoices</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section>
    <center>
        <h2 class="content">View All Invoices</h2>
        <br>
    </center>
</section>

 <section class="report">
        <center>
                {% for jobInvoice in userDetails %}
            <table class="tableStyle">
                <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Cost of Materials</th>
                    <th>Cost of Labor</th>
                    <th>Total Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{jobInvoice[1]}} </td>
                    <td> ${{jobInvoice[3]}} </td>
                    <td> ${{jobInvoice[4]}} </td>
                    <td> ${{jobInvoice[5]}} </td>
                </tr>

                <tr>
                    <th colspan = 4 >Services</th>
                </tr>

                <tr>
                    <td colspan = 4> {{jobInvoice[2]}} </td>
                </tr>
                </tbody>
            </table>
                {% endfor %}


        </center>
    </section>
{% endblock %}

</body>
</html>