<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>


{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>

        <tr>
            <td>Email:</td>
            <td>{{ account2['email'] }}</td>
        </tr>
        <tr>
            <td>Account ID:</td>
            <td>{{ account['ID'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}

</body>
</html>